/*
font-family: "Lexend Deca", sans-serif;
font-family: 'Big Shoulders Display', cursive;
*/

.car {
  padding-left: 2rem;
}

.car img {
  width: 20%;
  margin-bottom: 4.2rem;
  margin-top: 3.2rem;
}

.car h1 {
  font-size: 3.4rem;
  color: #fff;
  font-weight: 700;
  margin-bottom: 3.2rem;
  font-family: "Big Shoulders Display", cursive;
}

.car p {
  font-family: "Lexend Deca", sans-serif;
  width: 60%;
  line-height: 1.6;
  color: #fff;
  margin-bottom: 3.2rem;
}

.button-link:link,
.button-link:visited {
  display: inline-block;
  text-decoration: none;
  font-family: "Lexend Deca", sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  transition: all 0.3s;
  padding: 1.2rem 4rem;
  background-color: #fff;
  border-radius: 36px;
  margin-bottom: 3.4rem;
}

.button-link:hover,
.button-link:active {
  background-color: transparent;
}

.sedans {
  background-color: hsl(31, 77%, 52%);
  border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
}
.suvs {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}

.sedan:link,
.sedan:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.4rem;
  transition: all 0.3s;
  padding: 1.2rem 4rem;
  background-color: #fff;
  color: hsl(31, 77%, 52%);
  border-radius: 36px;
  margin-bottom: 3.4rem;
}

.suv:link,
.suv:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.4rem;
  transition: all 0.3s;
  padding: 1.2rem 4rem;
  background-color: #fff;
  color: hsl(184, 100%, 22%);
  border-radius: 36px;
  margin-bottom: 3.4rem;
}

.lux:link,
.lux:visited {
  display: inline-block;
  text-decoration: none;
  font-weight: 500;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.4rem;
  transition: all 0.3s;
  padding: 1.2rem 4rem;
  background-color: #fff;
  color: hsl(179, 100%, 13%);
  border-radius: 36px;
  margin-bottom: 3.4rem;
}

.suv:hover,
.suv:active,
.lux:hover,
.lux:active,
.sedan:hover,
.sedan:active {
  background-color: transparent;
  border: solid #fff 1px;
  color: #fff;
}
